<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/icon_SEIM.png" type="image/png">
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/about.css">
    <link rel="stylesheet" href="../static/styles/responsive.css" />
    <script src="../static/scripts/user_exist.js" defer></script>
    <title>Sobre Nosotros</title>
</head>
<body>

    <header>

        <div class="logo">
            <img src="../static/images/SEIM_logo_completo.png" alt="">
        </div>
  
        <ul class="nav_list">
  
            <li class="nav_item">
                <a href="./" class="nav_link">Inicio</a>
            </li>
  
            <li class="nav_item">
                <a href="./about" class="nav_link">Sobre nosotros</a>
            </li>
  
            <li class="nav_item">
                <a href="./contact" class="nav_link">Contanctanos</a>
            </li>
  
            <li class="nav_item">
                <a href="./login" class="nav_link button-user" id="button_burguer">Inicia sesion</a>
            </li>
  
        </ul>
  
        <div class="seccions">
          <div class="go_to">
            <a href="/">Inicio</a>
            <a href="./about">Sobre nosotros</a>
            <a href="./contact">Contactanos</a>
            <a href="./login" id="button" class="button-user">Inicia sesion</a>
        </div>
  
        </div>
  
        <label class="nav_toggle">
            <input type="checkbox" id="menu-input" class="nav_input">
        </label>
        
    </header>
    
    <main>

        <div class="title">
            <h1>Sobre nosotros</h1>
        </div>

        <article class="problem">
            <div class="img"> <img src="../static/images/office.jpg" alt=""></div>
            <div class="description">
                <p>Actualmente, los hogares y oficinas buscan opciones más eficientes y cómodas para gestionar sus 
                    <span style="color: rebeccapurple;"> dispositivos electrónicos. </span> 
                    <br><br>
                    Un enchufe inteligente básico podría brindar soluciones prácticas para el <span style="color: rebeccapurple;">ahorro 
                    energético</span>, el control remoto y la automatización de tareas cotidianas.</p>
            </div>
        </article>

        <div class="title">
            <h1>Nuestros objetivos es</h1>
        </div>

        <article class="objective">

            <div class="description">
                <p>
                    Desarrollar un <span style="color: rebeccapurple;">enchufe inteligente</span> básico que permita controlar <span style="color: rebeccapurple;">dispositivos electrónicos</span> de forma
                    remota a través de una<span style="color: rebeccapurple;"> aplicación móvil</span> y que ofrezca información completa y accesible sobre su uso
                    a través de una<span style="color: rebeccapurple;"> página web </span>informativa.
                </p>
            </div>

            <div class="img"><img src="../static/images/webAndMovil.jpg" alt=""></div>
            
        </article>

        <div class="subtitle">
            <h2>Lo que logramos</h2>
        </div>

        <article class="achievements">
            <ul class="obtective_list">
                <li>Diseño del Enchufe Inteligente</li>
                <li>Desarrollo de la Aplicación Móvil</li>
                <li>Desarrollo de la Página Web Informativa</li>
                <li>Integración IoT</li>
            </ul>

            <div class="slider">
                <ul>
                    <li><img src="../static/images/enchufe.jpg" alt=""></li>
                    <li><img src="../static/images/app_movil.png" alt=""></li>
                    <li><img src="../static/images/page.png" alt=""></li>
                    <li><img src="../static/images/firebase.png" alt=""></li>
                </ul>
            </div>
        </article>

    </main>


    <footer>

        <div class="inc">
            <img src="../static/images/icon_SEIM.png" alt="">
            <p>© 2025 SIEM, inc.</p>
          </div>
    
          <div class="links_term">
            <a href="/terms">Términos de uso</a>
          </div>
    
          <div class="direction">
            <p>A El Carmen Xalpatlahuaya s/n, 90513 Huamantla, Tlax.</p>
          </div>

    </footer>

</body>
</html>