<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/contact.css">
    <link rel="stylesheet" href="../static/styles/responsive.css" />
    <script src="../static/scripts/user_exist.js" defer></script>
    <script
      src="https://kit.fontawesome.com/f2f934aa4b.js"
      crossorigin="anonymous"
    ></script>
    <title>Contacto</title>
</head>
<body>

    <header>

        <div class="logo">
          <h1>SEIM</h1>
        </div>
  
        <ul class="nav_list">
  
            <li class="nav_item">
                <a href="./" class="nav_link">Inicio</a>
            </li>
  
            <li class="nav_item">
                <a href="./about" class="nav_link">Sobre nosotros</a>
            </li>
  
            <li class="nav_item">
                <a href="./contact" class="nav_link">Contanctanos</a>
            </li>
  
            <li class="nav_item">
                <a href="./login" class="nav_link button-user" id="button_burguer">Inicia sesion</a>
            </li>
  
        </ul>
  
        <div class="seccions">
          <div class="go_to">
            <a href="/">Inicio</a>
            <a href="./about">Sobre nosotros</a>
            <a href="./contact">Contactanos</a>
        </div>
  
          <div class="user_link">
            <a href="./login" id="button" class="button-user">Inicia sesion</a>
          </div>
        </div>
  
        <label class="nav_toggle">
            <input type="checkbox" id="menu-input" class="nav_input">
        </label>
        
    </header>

    <main>

        <div class="title">
            <h1>Conoce a los creadores</h1>
        </div>

        <div class="card_container">

            <div class="card">
                <div class="img">
                    <img src="../static/images/rincita.jpg" alt="">
                </div>

                <div class="name">
                    <p>Alejandro Pérez León</p>
                </div>

                <div class="links">
                    <a href="https://github.com/friendzone09">GitHub <i class="fa-brands fa-github"></i></a>
                    <a href="https://www.instagram.com/_friendzone09">Instagram <i class="fa-brands fa-instagram"></i></a>
                </div>

            </div>

            <div class="card">

                <div class="img">
                    <img src="../static/images/" alt="">
                </div>

                <div class="name">
                    <p>Daniel Zenteno Acosta</p>
                </div>

                <div class="links">
                    <a href="https://github.com/DANZA2005">GitHub <i class="fa-brands fa-github"></i></a>
                    <a href="https://www.instagram.com/dxnzx5">Instagram <i class="fa-brands fa-instagram"></i></a>
                </div>

            </div>

            <div class="card">

                <div class="img">
                    <img src="../static/images/" alt="">
                </div>

                <div class="name">
                    <p>Diego Nicolas Rivera Sánchez</p>
                </div>

                <div class="links">
                    <a href="https://github.com/Deigowo">GitHub <i class="fa-brands fa-github"></i></a>
                    <a href="https://x.com/Deigowo?t=82Vv8XRc-Gd_aIQmbVQPVA&s=09">Twitter (X) <i class="fa-brands fa-x-twitter"></i></a>
                </div>

            </div>

            <div class="card">

                <div class="img">
                    <img src="../static/images/" alt="">
                </div>

                <div class="name">
                    <p>Galicia Estrada Reyes</p>
                </div>

                <div class="links">
                    <a href="https://github.com/Galiaestr">GitHub <i class="fa-brands fa-github"></i></a>
                    <a href="https://www.instagram.com/galiaestr">Instagram <i class="fa-brands fa-instagram"></i></a>
                </div>

            </div>

            <div class="card">

                <div class="img">
                    <img src="../static/images/" alt="">
                </div>

                <div class="name">
                    <p>José Miguel Vázquez Sánchez</p>
                </div>

                <div class="links">
                    <a href="https://github.com/JoseMiguelVS">GitHub <i class="fa-brands fa-github"></i></a>
                    <a href="https://www.instagram.com/miguel_vs04">Instagram <i class="fa-brands fa-instagram"></i></a>
                </div>

            </div>

        </div>

    </main>

    <footer>
        hola
    </footer>
    
</body>
</html>