.terms{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.term_section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.term_section > .title_section{
    color: rebeccapurple;
    font-size: 2rem;
}

.term_section > .parraf_section{
    text-align: left;
    line-height: 1.5;
}

.logo_terms > img{
    width: 200px;
    height: 200px;
}